<?xml version="1.0"?>

<model>
  <name>boulder_1</name>
  <version>1.0</version>
  <sdf version="1.5">boulder_1.sdf</sdf>

  <author>
   <name>Cagri Kilic</name>
   <email>cakilic@mix.wvu.edu</email>
  </author>

  <description>
    https://nasa3d.arc.nasa.gov/detail/curiosity-path
  </description>
</model>
